
@{
    ViewData["Title"] = "Thông tin tài khoản";
}

<div class="d-flex justify-content-between mb-3">
    <div><h2>Thông tin tài khoản</h2></div>
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Mã nhân viên
        </dt>
        <dd class="col-sm-10">
            @ViewBag.nhanvien.Manv
        </dd>
        <dt class="col-sm-2">
            Tên
        </dt>
        <dd class="col-sm-10">
            @ViewBag.nhanvien.Ten
        </dd>
        <dt class="col-sm-2">
            Số diện thoại
        </dt>
        <dd class="col-sm-10">
            @ViewBag.nhanvien.Dienthoai
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @ViewBag.nhanvien.Email
        </dd>
        <dt class="col-sm-2">
            Quyền
        </dt>
        <dd class="col-sm-10">
            @if (ViewBag.nhanvien.Quyen == 1)
            {
                <label>Quản lý</label>
            }
            else
            {
                <label>Nhân viên</label>
            }
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="LogOut">Đăng xuất <i class="bi bi-box-arrow-right"></i></a>
</div>
